<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- Adyen JS from TEST environment (change to live for production)-->
  <script src="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.23.1/adyen.js"
            integrity="sha384-O0Q35c47I1ojd1zrD78yWAs+r5gytAjBC/sxwZqgQW5z9hDbAFM49z8SViprrDwm"
            crossorigin="anonymous"></script>

	<!-- Adyen CSS from TEST environment (change to live for production)-->
  <link rel="stylesheet"
          href="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.23.1/adyen.css"
          integrity="sha384-y6jvSkH/EJ+EmVfUABibJST5Df3+PXlPuQveX3NigzwJmiNofEBsUXxbxoaEllaI"
          crossorigin="anonymous">

  <link rel="stylesheet" href="/css/application.css">

  <title>Checkout Demo</title>
</head>

<body>
  <header id="header">
    <a href="/">
      <img src="/images/mystore-logo.svg" alt="">
    </a>
  </header>
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>
