<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/3.6.0/adyen.js"
     integrity="sha384-Ae3bpVd/uyREJxla2lRiuEXoYQA/WReCh/h1+sek9TFeq6iwAVBu9tDyMJNzpZHc"
     crossorigin="anonymous"></script>
  <link rel="stylesheet"
    href="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/3.6.0/adyen.css"
    integrity="sha384-NzXIrom1g7+1OMBJWAyapJ4yYXLFHdsE1ZxOVstMQVwURFl3RXldhYENYkBaBjL8"
    crossorigin="anonymous">

  <link rel="stylesheet" href="/css/application.css">

  <title>Checkout Demo</title>
</head>

<body>
  <header id="header">
    <a href="/">
      <img src="/images/mystore-logo.svg" alt="">
    </a>
  </header>
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>
