{{!-- Hidden divs with data passed from the Express server --}}
<div id="clientKey" class="hidden">{{ clientKey }}</div>

<div id="payment-page">
  <div class="container">
    {{!-- The Checkout integration type will be rendered below. --}}
    <div class="payment-container">
        <div id="component-container" class="payment"></div>
    </div>
  </div>
</div>

{{!-- Adyen Component client code --}}
<script type="text/javascript" src="../card.js"></script>
