<title>{{ type }}</title>

<div class="status-container">
  <div class="status">
    <img src="/images/{{type}}.svg" class="status-image" alt="">

    {{#ifeq type "success" }}
    <img src="/images/thank-you.svg" class="status-image" alt="">
    {{/ifeq}}
    {{#ifeq type "pending" }}
    <img src="/images/thank-you.svg" class="status-image" alt="">
    {{/ifeq}}

    <p class="status-message">
      {{#ifeq type "success" }}
      Your order has been successfully placed.
      {{/ifeq}}
      {{#ifeq type "pending" }}
      Your order has been received! Payment completion pending.
      {{/ifeq}}
      {{#ifeq type "failed" }}
      The payment was refused. Please try a different payment method or card.
      {{/ifeq}}
      {{#ifeq type "error" }}
      Error! Please review response in console and refer to <a href="https://docs.adyen.com/development-resources/response-handling">Response handling.</a>
      {{/ifeq}}
    </p>
    <a class="button" href="/" to="#/">Return Home</a>
  </div>
</div>
