<title>Error</title>

<div class="status-container">
  <div class="status">
    <img src="/images/failed.svg" class="status-image" alt="">
    <p class="status-message">Error! Please review response in console and refer to <a
        href="https://docs.adyen.com/development-resources/response-handling">Response handling.</a></p>
    <a class="button" href="/" to="#/">Return Home</a>
  </div>
</div>