<title>Pending</title>

<div class="status-container">
  <div class="status">
    <img src="/images/success.svg" class="status-image" alt="">

    <img src="/images/thank-you.svg" class="status-image" alt="">

    <p class="status-message">Your order has been received! Payment completion pending.</p>
    <a class="button" href="/" to="#/">Return Home</a>
  </div>
</div>