<div class='main-container'>
  <div class="info">
    <h1>Adyen Giving - Donations demo</h1>
      <div class="giving-view-container">
      <p>
        This is a sample designed to demonstrate the <a href="https://docs.adyen.com/online-payments/donations/web-component">Adyen Giving</a> donations workflow.
      </p>
      <p>
        First make a test payment using one of our test card numbers, so you can see the donation screen appear.
        You can find more test card numbers <a href="https://docs.adyen.com/development-resources/test-cards/test-card-numbers">here</a>.
      </p>
      </div>
  </div>
  <ul class="integration-list">
    <li class="integration-list-item">
      <a href="/preview?type=card" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">Card</p>
        </div>
      </a>
    </li>
  </ul>
</div>