/* * Whole Billing Information Container */

.address {
  background: #f7f8f9;
  border: 1px solid #e6e9eb;
  border-radius: 12px;
}

/* * Billing Header */

.billing_header {
  padding: 1em 1em 0px 1em;
}

/* * Form */

.addressForm {
  padding: 1em;
  border-radius: 3px;
}

.addressForm * {
  box-sizing: border-box;
}

.addressForm input {
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.8em;
  padding: 0.5em;
}

.addressForm input[type="text"] {
  width: 100%;
  height: 40px;
}

.addressLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.1s ease-out;
  white-space: nowrap;
  font-size: 0.81em;
  font-weight: 400;
  line-height: 13px;
  padding-bottom: 5px;
}

.addressInput {
  display: inline-grid;
  width: 50%;
}

#addressLine {
  padding: 4px;
  display: flex;
  flex-direction: row;
}

#first {
  padding-right: 8px;
}

#last {
  padding-left: 8px;
}

#street {
  width: 100%;
}

#city {
  width: 100%;
}

.addressLine4 div {
  width: 33.3%;
}

#state {
  padding-right: 8px;
}

#zip {
  padding: 0px 8px 0px 8px;
}

#country {
  padding-left: 8px;
}

/* * Component Specific */

.checkout-component {
  background: #f7f8f9;
  border: 1px solid #e6e9eb;
  border-radius: 12px;
  margin: 8px 0;
}

#customer-form {
  width: 100%;
  max-width: 610px;
  margin-bottom: 16px;
}

@media screen and (max-width: 1076px) {
  #customer-form {
    align-self: center;
    max-width: 610px;
  }
}
