.shopping-cart {
  float: right;
}
@media (min-width: 768px) {
  .shopping-cart {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 3px;
  }
}
.shopping-cart__link {
  display: inline-block;
  position: relative;
}
.order-summary__list {
  border-top: 1px solid #e6e9eb;
}
.order-summary__list__list-item {
  border-bottom: 1px solid #e6e9eb;
  display: flex;
  height: 97px;
}
.order-summary__list__list-item__image {
  height: 64px;
  margin: 16px;
  width: 64px;
}
.order-summary__list__list-item__title {
  font-weight: 700;
  margin: auto auto auto 0;
}
.order-summary__list__list-item__price {
  color: #687282;
  margin: auto 16px;
  text-align: right;
  width: 80px;
}
@media (min-width: 768px) {
  .order-summary__list__list-item__price {
    margin-left: 24px;
    margin-bottom: auto;
    margin-right: 24px;
    margin-top: auto;
  }
}
.order-summary__list__list-item__remove-product {
  background: none;
  border: 0;
  cursor: pointer;
  height: 25px;
  margin: auto 0;
  padding: 0;
  width: 25px;
}
.cart {
  text-align: center;
  margin-top: 80px;
}
.cart__footer {
  font-weight: 700;
  margin-top: 17px;
  text-align: right;
}
@media (min-width: 768px) {
  .cart__footer {
    margin-top: 24px;
  }
}
.cart__footer .button {
  margin-top: 30px;
  width: 100%;
}
@media (min-width: 768px) {
  .cart__footer .button {
    margin-top: 0;
    width: 288px;
  }
}
.cart__footer__amount {
  margin-left: 16px;
  margin-right: 24px;
}
.whole-preview {
  margin: auto;
  max-width: 1110px;
  padding: 0 16px;
}
@media (min-width: 1440px) {
  .whole-preview {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
  }
}
