<div class="main-container">
    <div class="info">
        <h1>BOOKING VIEW</h1>
        <div class="booking-view-container">
            <p>This demo shows how pre-authorisation and payment adjustments works. Please book a hotel/room first.</p> 
            <p>Once you've booked the hotel, you can increase/decrease the amount in the <a href="/admin">Admin panel</a> page.</p>
            <p>To learn more, check out the documentation about <a href="https://docs.adyen.com/online-payments/classic-integrations/modify-payments/adjust-authorisation">authorisation adjustments</a></p>
        </div>
    </div>

    <ul class="integration-list">
        <li class="integration-list-item">
            <a class="integration-list-item-link" href="/preview">
            <div class="title-container">
                <p class="integration-list-item-title">Click here to start a hotel booking</p>
            </div>
            </a>
        </li>
    </ul>
</div>