<title>{{ type }}</title>

<div class="status-container">
  <div class="status">
    <img src="/images/{{type}}.svg" class="status-image" alt="">

    {{#ifeq type "success" }}
    <img src="/images/thank-you.svg" class="status-image" alt="">

    <p class="status-message">{{msg}}</p>
    {{/ifeq}}

    {{#ifeq type "failed" }}
    <p class="status-message">
        {{msg}}
        <br/><br/>

        Learn how to resolve Terminal API errors and handle declined payments in 
        <a href="https://docs.adyen.com/point-of-sale/error-scenarios/">our documentation.</a>
    </p>
    {{/ifeq}}

    <a class="button" href="/cashregister" to="#/">Return</a>

  </div>
</div>
