<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Adyen CSS from TEST environment (change to https://checkoutshopper-live.cdn... for production)-->
  <link rel="stylesheet"
        href="https://checkoutshopper-test.cdn.adyen.com/checkoutshopper/sdk/6.6.0/adyen.css"
        integrity="sha384-UAD/QSv1wQyfA60svLYxJ0OJAPl9TpkksO+HEOUX8YJcD+MYzNmn+q4XL7YBeHcr"
        crossorigin="anonymous">

  <!-- Adyen JS from TEST environment (change to https://checkoutshopper-live.cdn... for production)-->
  <script src="https://checkoutshopper-test.cdn.adyen.com/checkoutshopper/sdk/6.6.0/adyen.js"
          integrity="sha384-Oa2agnE48SFtDpzmEK8mbhbmEA1X4WH6afLBbypUhFU8oDhJWAIGvLQTBrqgls4A"
          crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/application.css">
  
  <!-- Error handling utilities -->
  <script src="/js/shared/errorHandler.js"></script>
  <!-- Shared payment handlers -->
  <script src="/js/shared/paymentHandlers.js"></script>
  <!-- Countries data -->
  <script src="/js/countries.js"></script>
  <!-- Country picker functionality -->
  <script src="/js/country-picker.js"></script>

  <title>Checkout Demo</title>
</head>

<body>
  <div class="page-wrapper">
    <header id="header">
      <a href="/">
        <img src="/images/adyen-demo-logo.svg" alt="Adyen Demo">
      </a>
    </header>
    <main class="main-content">
      <div class="main-container">
        {{{body}}}
      </div>
    </main>
    
    {{!-- Footer with conditional country picker --}}
    <footer class="main-footer">
      <div class="footer-container">
        <div class="footer-content">
          <div class="footer-left">
            <span class="copyright">© {{currentYear}} Adyen Devs</span>
          </div>
          {{#unless hideFooter}}
          <div class="footer-right">
            <div class="country-picker" id="countryPicker">
              <img src="https://ca-test.adyen.com/ca/adl/img/flags/nl.svg" alt="Netherlands" class="country-flag" id="countryFlag">
              <span class="country-name" id="countryName">Netherlands</span>
              <svg class="dropdown-arrow" width="12" height="8" viewBox="0 0 12 8" fill="none">
                <path d="M1 1.5L6 6.5L11 1.5" stroke="#6B7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <div class="country-dropdown" id="countryDropdown">
                <!-- Countries will be populated by JavaScript -->
              </div>
            </div>
          </div>
          {{/unless}}
        </div>
      </div>
    </footer>
  </div>
</body>

</html>
