{{!-- Hidden divs with data passed from the Express server --}}
<div id="clientKey" class="hidden">{{ clientKey }}</div>
<div id="type" class="hidden">{{ type }}</div>

<main class="preview-page">
  <section class="cart">
    <h2>Checkout</h2>

    <div class="container">
      <p class="select-payment-method-text">Begin your checkout by adding one (or multiple) gift cards, and finalize your payment by selecting a payment method.</p>
      <p>Gift card test card numbers (e.g. 6036280000000000000) can be found on <a href="https://docs.adyen.com/development-resources/testing/test-card-numbers#gift-cards" target="_blank">this page</a>.</p>
    </div>

    <div class="preview-container">
      <div class="preview-container-left">
        <div class="order-summary">
          <ul class="order-summary-list">
            <li class="order-overview-list-item">
              <p class="order-overview-list-item-title-center">Cart</p>
            </li>
            <li class="order-summary-list-list-item">
              <img src="/images/sunglasses.png" class="order-summary-list-list-item-image" alt="">
              <p class="order-summary-list-list-item-title">Sunglasses</p>
              <p class="order-summary-list-list-item-price">1x</p>
            </li>

            <li class="order-summary-list-list-item">
              <img src="/images/headphones.png" class="order-summary-list-list-item-image" alt="">
              <p class="order-summary-list-list-item-title">Headphones</p>
              <p class="order-summary-list-list-item-price">1x</p>
            </li>

            <li class="order-summary-list-list-item">
              <p class="order-summary-list-list-item-title">Total items:</p>
              <p class="order-summary-list-list-item-price">2x</p>
            </li>         
            <li class="order-summary-list-list-item-no-border">
              <p class="order-summary-list-list-item-subtitle">Please select your payment method:</p>
            </li>
          </ul>
        </div>
        <div class="payment-method-selector">
          <ul class="payment-method-list">   
            <!-- Gift card button -->
            <li class="payment-method-list-item">
              <button type="button" id="add-giftcard-button" class="add-giftcard-button payment-method-selector-button">Redeem Gift Card</button>

              <!-- See adyenGiftcardImplementation.js > function: `mountGiftcardComponentButton(..)` -->
              <p id="giftcard-container" class="payment" hidden></p>
            </li>
            
            <!-- Add your payment methods here -->
            <li class="scheme-container payment-method-list-item">
              <button type="button" class="scheme-button-selector payment-method-selector-button" hidden>Credit or debit card</button>
              <p class="scheme-container-item"></p>
            </li>

            <li class="ideal-container payment-method-list-item">
              <button type="button" class="ideal-button-selector payment-method-selector-button" hidden>iDEAL</button>
              
              <!-- See adyenGiftcardImplementation.js > function: `mountPaymentMethodButton(..)` -->
              <p class="ideal-container-item"></p>
            </li>

            <li class="go-back-container">
              <button type="button" id="go-back-button" class="go-back-button" hidden>Go back</button>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="preview-container-right">
        <div class="order-overview"> 
          <ul id="order-overview-list" class="order-overview-list">
            <li class="order-overview-list-item">
              <p class="order-overview-list-item-title-center">Overview</p>
            </li>
            <li class="order-overview-item">
              <p class="order-overview-list-item-total-amount-price">Sunglasses 55.00</p>
            </li>
            <li class="order-overview-item">
              <p class="order-overview-list-item-total-amount-price">Headphones 55.00</p>
            </li>
            <li class="order-overview-item">
              <p class="order-overview-list-item-total-amount">Total amount</p>
              <p class="order-overview-list-item-total-amount-price">110.00</p>
            </li>
            <li class="order-overview-list-item">
              <p class="order-overview-list-item-remaining">Remaining amount to be paid</p>
              <p class="order-overview-list-item-remaining-price" id="remaining-due-amount">110.00</p>
            </li>
            <!-- See adyenGiftcardImplementation.js > function: `showGiftcardAppliedMessage(..)` -->
            <!-- We insert <div class='order-overview-list-item-giftcard-balance'></div> elements here to show 'Gift card applied' message(s)  -->
          </ul>
          
          <ul id="order-overview-list-error" class="order-overview-list">
            <li class="order-overview-list-item">
              <p id="giftcard-error-message" class="order-overview-list-item-giftcard-error-message"></p>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </section>
</main>


{{!-- Adyen Component client code --}}
<script type="text/javascript" src="/js/adyenGiftcardImplementation.js"></script>