<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Adyen CSS from TEST environment (change to https://checkoutshopper-live.cdn... for production)-->
  <link rel="stylesheet"
        href="https://checkoutshopper-test.cdn.adyen.com/checkoutshopper/sdk/6.6.0/adyen.css"
        integrity="sha384-UAD/QSv1wQyfA60svLYxJ0OJAPl9TpkksO+HEOUX8YJcD+MYzNmn+q4XL7YBeHcr"
        crossorigin="anonymous">

  <!-- Adyen JS from TEST environment (change to https://checkoutshopper-live.cdn... for production)-->
  <script src="https://checkoutshopper-test.cdn.adyen.com/checkoutshopper/sdk/6.6.0/adyen.js"
          integrity="sha384-Oa2agnE48SFtDpzmEK8mbhbmEA1X4WH6afLBbypUhFU8oDhJWAIGvLQTBrqgls4A"
          crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/application.css">

  <title>{{ title }}</title>
</head>

<body>
  <div class="page-wrapper">
  <header id="header">
      <div class="header-content">
        <a href="/" class="logo-link">
          <img src="/images/adyen-demo-logo.svg" alt="Adyen Demo">
        </a>
        <nav class="nav-links">
          <a href="/" class="nav-link">Shopper View</a>
          <a href="/admin" class="nav-link">Admin Panel</a>
        </nav>
      </div>
  </header>
    <main class="main-content">
      <div class="main-container">
    {{{body}}}
      </div>
    </main>
    
    <footer class="main-footer">
      <div class="footer-container">
        <div class="footer-content">
          <div class="footer-left">
            <span class="copyright">©2025 Adyen Devs</span>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>
