/* General page body */

html,
body {
  width: auto;
  margin: 0;
  font-family: "Fakt", sans-serif, Helvetica, Arial;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a,
u {
  text-decoration: none;
  color: #0abf53;
}

a:hover {
  text-decoration: none;
  color: #00903a;
}

.hidden {
  display: none;
}

#header {
  background: #fff;
  border-bottom: 1px solid #e6e9eb;
  height: 44px;
  left: 0;
  margin-bottom: 24px;
  padding: 14px 26px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
}

/* Buttons */

.button {
  background: #00112c;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  padding: 15px;
  text-align: center;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 100%;
}

.button:hover {
  background: #00230e;
  box-shadow: 0 3px 4px rgba(0, 15, 45, 0.2);
}

.button:active {
  background: #3a4a5c;
}

.button:disabled {
  background: #e6e9eb;
  box-shadow: none;
  cursor: not-allowed;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

/* end General page body */

/* Index page */

.main-container {
  flex-direction: column;
  display: flex;
}

.integration-list {
  display: inline-block;
  width: 100%;
  margin-left: -16px;
}

.integration-list-item {
  background: #f0f0f0;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0px 16px 0px;
  transition: transform 0.15s ease-in-out, background 0.15s ease-in-out, border 0.15s ease-in-out;
}

.integration-list-item:hover {
  text-decoration: none;
  background: #f2f2f2;
  transform: scale(1.02);
  border: 1px dashed #0abf53;
}

.integration-list-item-link {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .integration-list-item-link {
    padding-left: 28px;
    padding-bottom: 28px;
    padding-right: 28px;
    padding-top: 28px;
  }
}

.integration-list-item-title {
  margin: 0;
  text-align: center;
  font-weight: 700;
  color: black;
}

@media (min-width: 768px) {
  .integration-list-item-title {
    font-size: 24px;
    margin-left: 0;
    margin-right: 0;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  margin-top: 10%;
  color: #00112c;
}

/* end Index page */


/* Tables-grid start */

.tables-section {
  text-align: center;
  display: flex;
  transition: opacity 0.4s ease-in;
}

.tables-section.disabled {
  opacity: 0.2; /* Reduce opacity */
  pointer-events: none; /* Disable pointer events on elements */
}

.tables-grid-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(376px, 1fr));
  gap: 16px;
  padding: 16px;
  background: #e6e9eb;
  margin: 0px;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 2px solid #0abf53;
}

.tables-grid-item {
  border: 1px solid #e6e9eb;
  border-radius: 8px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
  min-height: 320px;
}

.tables-grid-item:hover {
  background-color: #e0e0e0;
  transform: scale(1.03);
  border-radius: 8px;
}

.tables-grid-item.current-selection {
  background-color: #fff8cd !important;
  transform: scale(1.03);
  font-weight: 600;
  color: white;
  border-radius: 16px;
  transition: transform 0.3s ease, background-color 0.5s ease;
}

.tables-grid-item.disabled {
  opacity: 0.15;
  background-color: #95999c;
  pointer-events: none;
}

.tables-grid-item-title {
  display: block;
  font-weight: 600;
  margin-top: 10px;
  font-size: 1.2rem;
  color: black;
}

.tables-grid-item-status {
  font-weight: 800;
  border: 1px dashed #000000;
  padding: 4px 16px 4px 16px;
  opacity: 0.7;
  color: #000000;
  background-color: #f0f0f0;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.tables-grid-item-status.not-paid {
  background-color: #ffe374 !important;
}

.tables-grid-item-status.paid {
  background-color: #00903a !important;
}

.tables-grid-item-status.refund-failed {
  background-color: #ff0000 !important;
}

.tables-grid-item-amount {
  font-size: 1.2rem;
  margin-left: 4px;
}

.tables-grid-item-currency {
  font-size: 1.2rem;
}

.tables-grid-item-other {
  font-weight: 400 !important;
  font-size: 1rem;
  color: black;
}

.tables-grid-item-currency-amount {
  display: flex;
  align-items: center;
  border-radius: 16px;
  border: 2px dotted black;
  padding: 16px 24px 0px 24px;
  margin: 0px 8px 8px 8px;
  color: black;
}

/* Tables-grid end */

/* Info-grid start */
.info-grid-list {
  padding: 4px;
}

.info-grid {
  text-align: left;
  display: grid;
  padding: 20px;
  background: #e6e9e9;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.info-grid-item {
  display: block;
  list-style: none;
}

.info-grid-item-title {
  font-weight: 600;
  font-size: 1rem;
}

.info-grid-item-description {
  font-weight: 600;
  color: #687282;
  font-size: 1rem;
}

/* Info-grid end */


/* `Payment request` button start */

#payment-request-form {
  font-weight: 600;
}

.payment-request-button {
  background-color: #0abf53;
  color: white;
  padding: 8px 64px 8px 64px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  transition: transform 0.15s ease-in-out, background-color 0.3s ease-in-out;
  width: 100%;
  height: 50%;
}

.payment-request-button:hover {
  background-color: #0abf53;
  border: none;
  transform: scale(1.04);
}

.payment-request-button:focus {
  outline: none;
}

.payment-request-button:disabled,
.payment-request-button[disabled=disabled],
.payment-request-button.disabled {
  background-color: #cccccc;
  color: #999999;
  pointer-events: none;
}

/* Payment request button end */

/* Reversal request button start */

#reversal-request-form {
  font-weight: 600;
}

.reversal-request-button {
  background-color: #0abf53;
  color: white;
  padding: 8px 64px 8px 64px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  transition: transform 0.15s ease-in-out, background-color 0.3s ease-in-out;
  width: 100%;
  height: 50%;
}

.reversal-request-button:hover {
  background-color: #0abf53;
  border: none;
  transform: scale(1.04);
}

.reversal-request-button:focus {
  outline: none;
}

.reversal-request-button:disabled,
.reversal-request-button[disabled=disabled],
.reversal-request-button.disabled {
  background-color: #cccccc;
  color: #999999;
  pointer-events: none;
}

/* Reversal request button end */

/* Transaction Status button start */
.transaction-status-button {
  background-color: #0abf53;
  color: white;
  padding: 8px 64px 8px 64px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  transition: transform 0.15s ease-in-out, background-color 0.3s ease-in-out;
  width: 100%;
  height: 50%;
}

.transaction-status-button:hover {
  background-color: #0abf53;
  border: none;
  transform: scale(1.04);
}

.transaction-status-button:focus {
  outline: none;
}

.transaction-status-button:disabled,
.transaction-status-button[disabled=disabled],
.transaction-status-button.disabled {
  background-color: #cccccc;
  color: #999999;
  pointer-events: none;
}

/* Transaction Status button end */

/* Payment page */

#payment-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#payment-page .container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
  padding-left: 8px;
  padding-right: 8px;
}

.checkout-component {
  background: #f7f8f9;
  border: 1px solid #e6e9eb;
  border-radius: 12px;
  margin: 8px 0;
}


/* Status page */

.status-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  margin: 100px 0 126px;
  text-align: center;
}

.status .status-image {
  display: block;
  height: 100px;
  margin: 32px auto 32px auto;
  padding: 8px;
}

.status .status-image-thank-you {
  height: 66px;
}

.status .status-message {
  margin: 8px 0 24px;
}

.status .button {
  max-width: 236px;
}

@media (min-width: 768px) {
  .status .button {
    max-width: 200px;
  }
}

/* end Status page */


/* Loading grid start */

.loading-grid {
  text-align: center;
  display: block;
  padding: 16px 8px 8px 8px;
  background: #fff7ea;
  border-radius: 8px;
  margin: 10px 0px 16px 0px;
  transition: opacity 0.4s ease-in;
  height: 100%;
  width: auto;
}

.loading-grid.disabled {
  opacity: 0;  /* Reduce opacity */
  pointer-events: none; /* Disable pointer events on elements */
  height: 0;
}

.loading-description {
  font-weight: 700;
  color: #0abf53;
  margin: 8px 0px 8px 0px;
}

/* Loading grid end */

/* Cancel operation button start */
.cancel-operation-button {
  background-color: #0abf53;
  color: white;
  padding: 6px 16px 6px 16px;
  margin: 8px 0px 8px 0px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #0abf53;
  border-radius: 16px;
  transition: background-color 0.3s, transform 0.15s;
}

.cancel-operation-button:hover {
  background-color: #00bb4b;
  transform: scale(1.04);
  border-radius: 16px;
}

/* Cancel operation button end */

/* Loading animation start */

.loading-animation {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading-animation div {
  animation: loading-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.loading-animation div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #0abf53;
  margin: -4px 0 0 -4px;
}

.loading-animation div:nth-child(1) {
  animation-delay: -0.036s;
}

.loading-animation div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.loading-animation div:nth-child(2) {
  animation-delay: -0.072s;
}

.loading-animation div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.loading-animation div:nth-child(3) {
  animation-delay: -0.108s;
}

.loading-animation div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.loading-animation div:nth-child(4) {
  animation-delay: -0.144s;
}

.loading-animation div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.loading-animation div:nth-child(5) {
  animation-delay: -0.18s;
}

.loading-animation div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.loading-animation div:nth-child(6) {
  animation-delay: -0.216s;
}

.loading-animation div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.loading-animation div:nth-child(7) {
  animation-delay: -0.252s;
}

.loading-animation div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.loading-animation div:nth-child(8) {
  animation-delay: -0.288s;
}

.loading-animation div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Loading bar end */