<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <link rel="stylesheet" href="/css/application.css">

  <!-- Adyen CSS from TEST environment (change to live for production)-->
  <link rel="stylesheet"
        href="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.53.3/adyen.css"
        integrity="sha384-9EdBqZRrjozkt+Be5ycjHBTi+4DYrafpC1KyPnNyTBfjBIZ5+oMp8BbgvPLGgsE0"
        crossorigin="anonymous">

  <!-- Adyen JS from TEST environment (change to live for production)-->
  <script src="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.53.3/adyen.js"
          integrity="sha384-CSBSWtfdsTY1G+R7kuPLwB9n5wwswxe819nXJSuN75AyCAaajvLh7tMnaIf/2teS"
          crossorigin="anonymous"></script>

  <title>Checkout Demo Advanced</title>
</head>

<body>
  <header id="header">
    <a href="/">
      <img src="/images/mystore-logo.svg" alt="">
    </a>
  </header>
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>
