<div class="status-container">
  <div class="status">

    {{#ifeq type "success" }}
    <img src="/images/thank-you.svg" class="status-image" alt="">
    {{/ifeq}}
    {{#ifeq type "error" }}
    <img src="/images/error.svg" class="status-image" alt="">
    {{/ifeq}}

    <p class="status-message">
      {{#ifeq type "success" }}
      Request received for Merchant Reference: {{reference}}. Wait a bit to receive the asynchronous webhook response.
      {{/ifeq}}
      {{#ifeq type "error" }}
      <p class="status-message">
        Error! Refusal reason: {{refusalReason}}.

        Please review response in console and refer to
        <a href="https://docs.adyen.com/development-resources/refusal-reasons">refusal reasons.</a>
        </p>
      {{/ifeq}}
    </p>
    <a class="button" href="/admin" to="#/admin">Return to Admin panel</a>

  </div>

</div>