name: Node.js CI

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/README.md'
      - .gitignore
      - .gitpod.yml
      - LICENSE
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**/README.md'
      - .gitignore
      - .gitpod.yml
      - LICENSE

jobs:
  build-checkout:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 'checkout-example'
    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: 'checkout-example'
    - name: Build checkout-example
      run: npm install

  build-checkout-advanced:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 'checkout-example-advanced'
    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: 'checkout-example-advanced'
    - name: Build checkout-example-advanced
      run: npm install

  build-giftcard:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 'giftcard-example'
    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: 'giftcard-example'
    - name: Build giftcard-example
      run: npm install

  build-paybylink:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 'paybylink-example'
    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: 'paybylink-example'
    - name: Build paybylink-example
      run: npm install

  build-subscription:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 'subscription-example'
    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: 'subscription-example'
    - name: Build subscription-example
      run: npm install

  build-giving:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 'giving-example'
    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: 'giving-example'
    - name: Build giving-example
      run: npm install

  build-in-person-payments:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 'in-person-payments-example'
    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: 'in-person-payments-example'
    - name: Build in-person-payments-example
      run: npm install

  build-3ds2:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: '3ds2-example'
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: '3ds2-example'
      - name: Build frontend
        run: cd 3ds2-example/frontend && npm install
      - name: Build backend
        run: cd ../backend && npm install
      - name: Build fullstack
        run: cd ../ && npm install
